<!-- cadastro.html -->
{% extends "base.html" %}
{% block title %}<title>FarmVille | Cadastro</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/auth/login">Login</a>
{% endblock %}
{% block content %}
<div class="vertical-center">
  <div class="container forms shadow-sm p-3 mb-5 bg-white border border-secondary rounded">
    <form class="row g-3 justify-content-center">
      <div class="col-md-6">
        <label for="inputData" class="form-label">Usuário</label>
        <input type="text" class="form-control" id="inputData">
      </div>
      <div class="col-md-6">
        <label for="inputNome" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputNome">
      </div>
      <div class="col-md-6">
        <label for="inputData" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputData">
      </div>
      <div class="col-md-6">
        <label for="inputData" class="form-label">CPF</label>
        <input type="text" class="form-control" id="inputData">
      </div>
      <div class="col-12">
        <label for="inputData" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="inputData">
      </div>
      <div class="col-12">
        <br>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
