<!-- login.html -->
{% extends "base1.html" %}
{% block title %}<title>FarmVille | Login</title>{% endblock %}
{% block navbar %}
<nav id="navbar" class="navbar">
  <ul>
    <li><a class="nav-link scrollto " href="/">Home</a></li>
    <li><a class="getstarted scrollto" href="/auth/cadastro">Registrar</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
{% endblock %}
{% block content %}
<div class="content d-flex align-items-center justify-content-center mt-5 mb-5"><section>
    <div class="row d-flex justify-content-center align-items-center h-100 mb-3">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://media.istockphoto.com/id/1206318963/pt/vetorial/smart-farm-icons-set-linear-icons-agricultural-technology-on-mobile-and-computer-devices.jpg?s=612x612&w=0&k=20&c=YMyyxewcFYVYcwXN4YGdVbStj0j9A1mjde882szkciA="
          class="img-fluid" alt="Sample image"  width="200%">
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-1">
        <form  action="/auth/login_post"method="POST">
          <h3><strong>Area de Login</strong></h3><br>
          <!-- Email input -->
          <div class="form-floating mb-3">
            <input type="email" name="login" id="login" class="form-control form-control-lg"
              placeholder="name@example.com" />
              <label  for="floatingInput">Usuario</label>
          </div>

          <!-- Password input -->
          <div class="form-floating mb-3">
            <input type="password" name="password" id="password" class="form-control form-control-lg"
              placeholder="Senha" />
              <label for="floatingInput">Senha</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            
            <a href="#" class="text-body">Esqueceu sua senha?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-success"
              style="padding-left: 3.5rem; padding-right: 3.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0"><a href="/auth/cadastro"
                class="link">Registrar</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
