<!-- iot_status.html -->
{% extends "admin_base.html" %}
{% block content %}
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Status</h4>
                  </div>
                  <div class="content">
        <div class="col-12">
          <label for="inputData" class="form-label">Temperatura atual</label>
          <h3 id="temp">{{ status['t'] }} C</h3>
        </div>
        <div class="col-12">
          <label for="inputNome" class="form-label">Umidade atual</label>
          <h3 id="humi">{{ status['h'] }}%</h3>
        </div>
        <div class="col-12">
          <label for="inputData" class="form-label">Pressão atual</label>
          <h3 id="pres">{{ status['p'] }} hPa</h3>
        </div>
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="static/js/ajax.js" defer></script>
</div>
{% endblock %}
