{% extends "admin_base.html" %}
{% import 'utils/formsadmin.html' as forms %}
{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="header">
                  <h4 class="title">Cadastrar Sensor</h4>
              </div>
              <div class="content">
                  <form enctype="multipart/form-data" action="/admin/iot/save_sensors" method="POST">
                          <div class="row">
                              <div class="col-md-6">
                                {{ forms.input(label = 'Nome', name = 'name', id = 'name', type='text') }}
                              </div>
                              <div class="col-md-6">
                                {{ forms.input(label = 'Modelo', name = 'model', id = 'model', type='text') }}
                              </div>
                          <div class="row">
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Marca', name = 'brand', id = 'brand', type='text') }}
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Tensão', name = 'voltage', id = 'voltage', type='text') }}
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Unidade de Medida', name = 'measure', id = 'measure', type='text') }}
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                {{ forms.textarea(label = 'Informações Adicionais', name = 'description', rows = 1, id = 'description') }}
                              </div>
                          </div>
                          {{ forms.checkbox(label = 'Sensor ativo', name = "is_active", id = "is_active", checked='') }}
                          {{ forms.button(label = 'Cadastrar Sensor') }}
                          <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
  {% endblock %}
