<!-- register_sensor.html -->
{% extends "base.html" %}
{% import 'utils/forms.html' as forms %}
{% block title %}<title>FarmVille | IOT - Cadastrar sensor</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/admin/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="/admin/iot/register_sensor">Cadastrar sensor</a>
<a class="nav-item nav-link" href="/admin/iot/view_sensors">Listar sensores</a>
{% endblock %}
{% block content %}
<div id="content">
  <div class="container-fluid px-4">
    <h3 class="mt-4">Cadastro de Sensor</h3>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/admin/iot/">Iot</a></li>
      <li class="breadcrumb-item active">Cadastro de Sensor</li>
    </ol>
    <div class="vertical-center">
      <div class="container view">
        <div class="justify-content-center">
          <div class="container-fluid px-4">
            <div class="row">
              <div class="vertical-center">
                <div class="container">
                  <div class="card">
                    <div class="card-header">
                      Cadastrar Novo Sensor
                    </div>
                    <div class="card-body">
                      <form class="row g-3 justify-content-center" enctype="multipart/form-data" action="/admin/iot/save_sensors" method="POST">
                        {{ forms.input(label = 'Nome', name = 'name', id = 'name', type='text', box_size = 6) }}
                        {{ forms.input(label = 'Modelo', name = 'model', id = 'model', type='text', box_size = 3) }}
                        {{ forms.input(label = 'Marca', name = 'brand', id = 'brand', type='text', box_size = 3) }}
                        {{ forms.input(label = 'Tensão', name = 'voltage', id = 'voltage', type='text', box_size = 2) }}
                        {{ forms.input(label = 'Unidade de Medida', name = 'measure', id = 'measure', type='text', box_size = 2) }}
                        {{ forms.textarea(label = 'Informações Adicionais', name = 'description', rows = 1, id = 'description', box_size = 8) }}
                        {{ forms.checkbox(label = 'Sensor ativo', name = "is_active", id = "is_active", checked='', box_size = 12) }}
                        {{ forms.button(label = 'Cadastrar Sensor', box_size = 12) }}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
