{% extends "admin_base.html" %}
{% import 'utils/formsadmin.html' as forms %}
{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="header">
                  <h4 class="title">Atualizar Sensor</h4>
              </div>
              <div class="content">
                  <form enctype="multipart/form-data" action="/admin/iot/save_sensor_changes" method="POST">
                    <input type="hidden"  id="id" name = "id" value="{{ sensor[0].id }}">
                          <div class="row">
                              <div class="col-md-6">
                                {{ forms.input(label = 'Nome', name = 'name', id = 'name', value=sensor[0].name,type='text') }}
                              </div>
                              <div class="col-md-6">
                                {{ forms.input(label = 'Modelo', name = 'model', id = 'model',value=sensor[0].model, type='text') }}
                              </div>
                          <div class="row">
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Marca', name = 'brand', id = 'brand',value=sensor[0].brand, type='text') }}
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Tensão', name = 'voltage', id = 'voltage', value=sensor[0].voltage,type='text') }}
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Unidade de Medida', name = 'measure', id = 'measure',value=sensor[1].measure, type='text') }}
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                {{ forms.textarea(label = 'Informações Adicionais', name = 'description', rows = 1, id = 'description', value=sensor[0].description) }}
                              </div>
                          </div>
                          {% if sensor[0].is_active == true %}
                          {{ forms.checkbox(label = 'Sensor ativo', name = "is_active", id = "is_active", checked='checked') }}
                          {% else %}
                          {{ forms.checkbox(label = 'Sensor ativo', name = "is_active", id = "is_active", checked='') }}
                          {% endif %}
                          {{ forms.button(label = 'Atualizar Sensor') }}
                          <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
