{% extends "admin_base.html" %}
{% import 'utils/formsadmin.html' as forms %}
{% block content %}
<div id="content">
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="header">
                  <h4 class="title">Atualizar Microcontrolador</h4>
              </div>
              <div class="content">
                  <form enctype="multipart/form-data" action="/admin/iot/save_microcontroller_changes" method="POST">
                    <input type="hidden"  id="id" name = "id" value="{{ microcontroller[0].id }}">
                          <div class="row">
                              <div class="col-md-6">
                                {{ forms.input(label = 'Nome', name = 'name', id = 'name', value=microcontroller[0].name, type='text') }}
                              </div>
                              <div class="col-md-6">
                                {{ forms.input(label = 'Modelo', name = 'model', id = 'model',value=microcontroller[0].model, type='text') }}
                              </div>
                          <div class="row">
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Marca', name = 'brand', id = 'brand',value=microcontroller[0].brand, type='text') }}
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Tensão', name = 'voltage', id = 'voltage',value=microcontroller[0].voltage, type='text') }}
                              </div>
                              <div class="col-md-4">
                                {{ forms.input(label = 'Porta', name = 'ports', id = 'ports',value=microcontroller[1].ports, type='text') }}
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                {{ forms.textarea(label = 'Informações Adicionais', name = 'description', rows = 1, id = 'description', value=microcontroller[0].description) }}
                              </div>
                          </div> 
                          {% if microcontroller[0].is_active == true %}
                          {{ forms.checkbox(label = 'Microcontrolador ativo', name = "is_active", id = "is_active", checked='checked') }}
                          {% else %}
                          {{ forms.checkbox(label = 'Microcontrolador ativo', name = "is_active", id = "is_active", checked='') }}
                          {% endif %}
                          {{ forms.button(label = 'Atualizar Microcontrolador') }}
                          <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
