<!-- home.html -->
{% extends "base.html" %}
{% block title %}<title>FarmVille</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/auth">Login</a>
<a class="nav-item nav-link" href="/iot">IOT</a>
<a class="nav-item nav-link" href="/culturas">Culturas</a>
{% endblock %}
{% block content %}
<div class="vertical-center">
  <div class="container">
    <h1>Bem-vindo a FarmVille</h1>
    <h3>Sobre nós:</h3>
    <p>
    Nossa fazenda é automaticamente monitorada por sensores de temperatura, pressão e umidade,
    com uma interface web disponível para operadores e administradores monitorarem de forma
    rápida e prática o estado atual das plantações, com um sistema para alertar possíveis condições
    climáticas que possam prejudicar o cultivo da plantação.
    </p>
    <p></p>
  </div>
</div>
{% endblock %}
