
.container .forms{
    margin-top: 40px;
    padding-top: 50px;
    border-color: black;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
.form-control1 {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }
  .btn-log {
    width: 50%; /* ajuste a largura conforme necessário */
    border-radius: 2%; /* ajuste o valor do raio conforme necessário */
    background-color: #9ACD32; /* ajuste a cor de fundo conforme necessário */
  }