{% extends "admin_base.html" %}
{% import 'utils/formsadmin.html' as forms %}
{% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="header">
                  <h4 class="title">Cadastrar Cultura</h4>
              </div>
              <div class="content">
                  <form enctype="multipart/form-data" action="/admin/culturas/save_culturas" method="POST">
                      <div class="row">
                          <div class="col-md-12">
                                {{ forms.input(label = 'Nome', name = 'name', id = 'name', type='text') }}
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-4">
                                {{ forms.input(label = 'Estação Ideal', name = 'estacao_ideal', id = 'estacao_ideal', type='text') }}
                          </div>
                          <div class="col-md-4">
                                {{ forms.input(label = 'Umidade Ideal', name = 'umidade_ideal', id = 'umidade_ideal', type='text') }}
                          </div>
                          <div class="col-md-4">
                                {{ forms.input(label = 'Pressão Ideal', name = 'pressao_ideal', id = 'pressao_ideal', type='text') }}
                          </div>
                      </div>

                      {{ forms.button(label = 'Cadastrar Cultura') }}
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
{% endblock %}
