<!-- culturas_index.html -->
{% extends "base.html" %}
{% block title %}<title>FarmVille | Culturas</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link active" href="/admin/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/admin/culturas/cadastro_culturas">Cadastrar culturas</a>
<a class="nav-item nav-link" href="/admin/culturas/view_culturas">Listar culturas</a>
{% endblock %}
{% block content %}
<div id="content">
    <div class="container view">
        <div class="container-fluid px-4">
          <h3 class="mt-4">Culturas</h3>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/culturas/">Culturas</a></li>
            <li class="breadcrumb-item"><a href="/admin/culturas/cadastro_culturas">Registrar</a></li>
            <li class="breadcrumb-item"><a href="/admin/culturas/view_culturas">Listar</a></li>
          </ol>
      </div>
  </div>
</div>
{% endblock %}
