{% extends "admin_base.html" %}
{% import 'utils/formsadmin.html' as forms %}
{% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="header">
                  <h4 class="title">Atualizar Cultura</h4>
              </div>
              <div class="content">
                  <form enctype="multipart/form-data" action="/admin/culturas/save_cultura_changes" method="POST">
                    <input type="hidden"  id="id" name = "id" value="{{ cultura.id }}">
                      <div class="row">
                          <div class="col-md-12">
                                {{ forms.input(label = 'Nome', name = 'name', id = 'name', value=cultura.name,type='text') }}
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-4">
                                {{ forms.input(label = 'Estação Ideal', name = 'estacao_ideal', value=cultura.estacao_ideal,id = 'estacao_ideal', type='text') }}
                          </div>
                          <div class="col-md-4">
                                {{ forms.input(label = 'Umidade Ideal', name = 'umidade_ideal', value=cultura.umidade_ideal, id = 'umidade_ideal', type='text') }}
                          </div>
                          <div class="col-md-4">
                                {{ forms.input(label = 'Pressão Ideal', name = 'pressao_ideal', id = 'pressao_ideal',  value=cultura.pressao_ideal, type='text') }}
                          </div>
                      </div>

                      {{ forms.button(label = 'Atualizar Cultura') }}
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
{% endblock %}
