<!-- view_culturas.html -->
{% extends "admin_base.html" %}
{% block content %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Listagem de Culturas</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                      {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                      </div>
                      {% endfor %}
                      {% endif %}
                      {% endwith %}
                        <table id="view_culturas" class="table table-hover table-striped">
                            <thead>
                              <tr>
                                <th>Nome</th>
                                <th>Estação</th>
                                <th>Umidade</th>
                                <th>Pressão</th>
                                <th>Atualizar</th>
                                <th>Excluir</th>
                              </tr>
            
                            </thead>
                            <tbody>
                              {% for cultura in culturas %}
                              <tr>
                                <td>{{ cultura.name }}</td>
                                <td>{{ cultura.estacao_ideal }}</td>
                                <td>{{ cultura.umidade_ideal }}</td>
                                <td>{{ cultura.pressao_ideal }}</td>
                                <td><i class="fa fa-refresh"></i><a href="/admin/culturas/update_cultura/{{ cultura.id }}"> Editar</a></td>
                                <td><i class="fa fa-trash"></i><a href="/admin/culturas/delete_cultura/{{ cultura.id }}" onclick="return confirm('Tem certeza que deseja excluir essa cultura?');"> Excluir</a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                
            </div>

{% endblock %}
