<!-- base.html -->
<html>
    <head>
        <title>Iot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                           crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" />
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="static/img/icon.png" width="30" height="30" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/iot/cadastro_sensor">Cadastrar sensor</a>
          <a class="nav-item nav-link" href="/iot/cadastro_cultura">Cadastrar cultura</a>
          <a class="nav-item nav-link" href="/iot/listar_cultura">Listar culturas cadastradas</a>
          <a class="nav-item nav-link" href="/iot/listar_sensores">Listar sensores cadastrados</a>
          <a class="nav-item nav-link" href="/iot/status">Status</a>
        </div>
      </div>
    </nav>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
