<!-- iot_status.html -->
{% extends "base.html" %}
{% block title %}<title>FarmVille | IOT - Status</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/iot/cadastro_sensor">Cadastrar sensor</a>
<a class="nav-item nav-link" href="/iot/cadastro_cultura">Cadastrar cultura</a>
<a class="nav-item nav-link" href="/iot/listar_cultura">Listar culturas cadastradas</a>
<a class="nav-item nav-link" href="/iot/listar_sensores">Listar sensores cadastrados</a>
<a class="nav-item nav-link active" href="/iot/status">Status</a>
{% endblock %}
{% block content %}
<div id="content">
  <div class="vertical-center">
    <div class="container forms shadow-sm p-3 mb-5 bg-white border border-secondary rounded">
      <div class="row g-3 justify-content-center">
        <div class="col-12">
          <label for="inputData" class="form-label">Temperatura atual</label>
          <h3>20 C</h3>
        </div>
        <div class="col-12">
          <label for="inputNome" class="form-label">Umidade atual</label>
          <h3>30%</h3>
        </div>
        <div class="col-12">
          <label for="inputData" class="form-label">Pressão atual</label>
          <h3>1.02 bar</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
