<!-- base.html -->
<html>
    <head>
        <title>Iot | Cadastrar cultura</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                           crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" />
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="static/img/icon.png" width="30" height="30" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/iot/cadastro_sensor">Cadastrar sensor</a>
          <a class="nav-item nav-link active" href="/iot/cadastro_cultura">Cadastrar cultura</a>
          <a class="nav-item nav-link" href="/iot/listar_cultura">Listar culturas cadastradas</a>
          <a class="nav-item nav-link" href="/iot/listar_sensores">Listar sensores cadastrados</a>
          <a class="nav-item nav-link" href="/iot/status">Status</a>
        </div>
      </div>
    </nav>
        <div id="content">
          <div class="vertical-center">
            <div class="container forms shadow-sm p-3 mb-5 bg-white border border-secondary rounded">
              <form class="row g-3 justify-content-center">
                <div class="col-md-6">
                  <label for="inputData" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="inputData">
                </div>
                <div class="col-md-6">
                  <label for="inputNome" class="form-label">Umidade Ideal</label>
                  <input type="text" class="form-control" id="inputNome">
                </div>
                <div class="col-md-6">
                  <label for="inputData" class="form-label">Pressão Ideal</label>
                  <input type="text" class="form-control" id="inputData">
                </div>
                <div class="col-md-6">
                  <label for="inputData" class="form-label">Temperatura Ideal</label>
                  <input type="text" class="form-control" id="inputData">
                </div>
                <div class="col-md-6">
                  <label for="inputData" class="form-label">Estação Ideal</label>
                  <br>
                  <select id="inputPagamento" class="form-select">
                    <option selected>Escolher...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-12">
                  <br>
                  <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </body>
</html>
