<!-- iot_cadastrar_cultura.html -->
{% extends "base.html" %}
{% block title %}<title>FarmVille | IOT - Cadastrar cultura</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/iot/cadastro_sensor">Cadastrar sensor</a>
<a class="nav-item nav-link active" href="/culturas/cadastro_culturas">Cadastrar cultura</a>
<a class="nav-item nav-link" href="/iot/listar_cultura">Listar culturas cadastradas</a>
<a class="nav-item nav-link" href="/iot/listar_sensores">Listar sensores cadastrados</a>
<a class="nav-item nav-link" href="/iot/status">Status</a>
{% endblock %}
{% block content %}
<div id="content">
  <div class="vertical-center">
    <div class="container forms shadow-sm p-3 mb-5 bg-white border border-secondary rounded">
      <form class="row g-3 justify-content-center">
        <div class="col-md-6">
          <label for="inputData" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputData">
        </div>
        <div class="col-md-6">
          <label for="inputNome" class="form-label">Umidade Ideal</label>
          <input type="text" class="form-control" id="inputNome">
        </div>
        <div class="col-md-6">
          <label for="inputData" class="form-label">Pressão Ideal</label>
          <input type="text" class="form-control" id="inputData">
        </div>
        <div class="col-md-6">
          <label for="inputData" class="form-label">Temperatura Ideal</label>
          <input type="text" class="form-control" id="inputData">
        </div>
        <div class="col-md-6">
          <label for="inputData" class="form-label">Estação Ideal</label>
          <br>
          <select id="inputPagamento" class="form-select">
            <option selected>Escolher...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-12">
          <br>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
