<!-- iot_index.html -->
{% extends "base.html" %}
{% block title %}<title>FarmVille | IOT</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/iot/cadastro_sensor">Cadastrar sensor</a>
<a class="nav-item nav-link" href="/iot/cadastro_cultura">Cadastrar cultura</a>
<a class="nav-item nav-link" href="/iot/listar_cultura">Listar culturas cadastradas</a>
<a class="nav-item nav-link" href="/iot/listar_sensores">Listar sensores cadastrados</a>
<a class="nav-item nav-link" href="/iot/status">Status</a>
{% endblock %}
{% block content %}
{% endblock %}
