<!-- update_sensor.html -->
{% extends "base.html" %}
{% import 'utils/forms.html' as forms %}
{% block title %}<title>FarmVille | IOT - Atualizar sensor</title>{% endblock %}
{% block navbar %}
<a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="/iot/register_sensor">Cadastrar sensor</a>
<a class="nav-item nav-link" href="/iot/view_sensors">Listar sensores</a>
<a class="nav-item nav-link" href="/iot/status">Status</a>
{% endblock %}
{% block content %}
<div id="content">
  <div class="vertical-center">
    <div class="container view">
      <div class="justify-content-center">
        <div class="container-fluid px-4">
          <h3 class="mt-4">Atualização de Sensor</h3>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/iot/">Iot</a></li>
            <li class="breadcrumb-item active">Atualização de Sensor</li>
          </ol>
          <div class="container-fluid px-4">
            <div class="row">
              <div class="vertical-center">
                <div class="container">
                  <div class="card">
                    <div class="card-header">
                      Atualizar Sensor
                    </div>
                    <div class="card-body">
                      <form class="row g-3 justify-content-center" enctype="multipart/form-data" action="/iot/save_sensor_changes" method="POST">
                        <input type="hidden"  id="id" name = "id" value="{{ sensor[0].id }}">
                        {{ forms.input(label = 'Nome', name = 'name', id = 'name', value=sensor[0].name, type='text', box_size = 6) }}
                        {{ forms.input(label = 'Modelo', name = 'model', id = 'model', value=sensor[0].model, type='text', box_size = 3) }}
                        {{ forms.input(label = 'Marca', name = 'brand', id = 'brand', value=sensor[0].brand, type='text', box_size = 3) }}
                        {{ forms.input(label = 'Tensão', name = 'voltage', id = 'voltage', value=sensor[0].voltage, type='text', box_size = 2) }}
                        {{ forms.input(label = 'Unidade de Medida', name = 'measure', id = 'measure', value=sensor[1].measure, type='text', box_size = 2) }}
                        {{ forms.textarea(label = 'Informações Adicionais', name = 'description', rows = 1, id = 'description', value=sensor[0].description, box_size = 8) }}
                        {% if sensor[0].is_active == true %}
                        {{ forms.checkbox(label = 'Sensor ativo', name = "is_active", id = "is_active", checked='checked', box_size = 12) }}
                        {% else %}
                        {{ forms.checkbox(label = 'Sensor ativo', name = "is_active", id = "is_active", checked='', box_size = 12) }}
                        {% endif %}
                        {{ forms.button(label = 'Atualizar Sensor', box_size = 12) }}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
